h1 {
    font-family: 'Frijole', cursive;
    font-size: 48px;
}

h1 a, h1 a:hover {
    text-decoration: none;
    color: #ffffff;
}

.menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

code {
    max-height: 100% !important;
    overflow: hidden !important;
}

.index-title {
    font-family: 'Frijole', cursive;
    font-size: 18px;
}

a, a:focus, a:hover {
    color: #E74C3C
}