h1 {
    font-family: 'Frijole', cursive;
    font-size: 48px;
}

h1 a, h1 a:hover {
    text-decoration: none;
    color: #ffffff;
}

a.title {
    color: #ffffff;
}

.menu {
    margin-bottom: 20px;
}

.menu div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

code {
    max-height: 100% !important;
    overflow: hidden !important;
}

.index-title {
    font-family: 'Frijole', cursive;
    font-size: 18px;
}

a, a:focus, a:hover {
    color: #E74C3C
}

.stat-entry {
    font-size: 18px;
}

.stat-entry span {
    font-weight: bold;
}

.twitter-follow-button {
    vertical-align: middle;
}